body {

  #menu-linker {
    width:100px;
    height:100px;
    background-color: #1dc116;
    position:fixed;
    top:100px;
  }

  input.not-valid {
    border:solid 2px #F2003C;
  }

  .password-message-container {
    display: inline-block;
    .message {
      color: #F2003C;
    }
  }
}
