body {

  #menu-linker {
    width:15px;
    height:100px;
    position:fixed;
    background-color: #1dc116;
    top:100px;
    z-index:100;
    right:0px;
    ul {
      margin:0px;
      display: inline;
      list-style:none;
      li {
        border-radius:100%;
        border:solid $mainBlue 2px;
        height: 12px;
        width:12px;
      }
    }
  }

  input.not-valid {
    border:solid 2px #F2003C;
  }

  .password-message-container {
    display: inline-block;
    .message {
      color: #F2003C;
    }
  }
}
