@import "font.scss";
.button {
    background-color:$mainGreen;
    color: $mainWhite;
    padding:35px 90px 35px 90px;
    display: inline-block;
    cursor:pointer;
    transition: all 0.5s;
    &:hover {


    }
}

.button.main-page-button {
    background-color:$mainGreen;
    color: $mainWhite;
    padding:10px;
    cursor:pointer;
    transition: all 0.5s;
    @include font-button-main-page;
    @media screen and (max-width: 600px) {

        font-size: 10px;
    }

    &:hover {


    }
}

.closing-button {
    position:absolute;
    font-size: 60px;
    color: white;
    top: 15px;
    right:15px;
    cursor:pointer;
    transition:all 0.1s;
    &:hover {

        font-size:62px;
    }

    // Define all type of exeption in button
    &.video {
        pointer-events: all;
        cursor:pointer;
        color: white;
        font-size:45px;
        right: -50px;
        transition:all 0.3s;
        &.active-button-video {
            cursor:pointer;
            pointer-event:all;
            z-index: 500;
            right:15px;
        }

    }
}


.button.login {

    margin-top:25px;
}