@import "font.scss";
.button {
    background-color:$mainGreen;
    color: $mainWhite;
    padding:15px;
    display: inline-block;
    cursor:pointer;
    transition: all 0.5s;
    &:hover {


    }
}

.button.main-page-button {
    background-color:$mainGreen;
    color: $mainWhite;

    cursor:pointer;
    transition: all 0.5s;

    text-transform: uppercase;
    @media screen and (max-width: 600px) {

        font-size: 10px;
    }

    &:hover {


    }
}

.closing-button {
    position: fixed;
    font-size: 40px;
    color: #004588;
    top: 75px;
    right: 50px;
    cursor: pointer;
    transition: all 0.1s;
    @media screen and (max-width: 600px) {

        font-size: 37px;
        color: #004588;
        top: 80px;
        right: 20px;
        cursor: pointer;
    }

    &:hover {


    }

    // Define all type of exeption in button
    &.video {
        pointer-events: all;
        cursor:pointer;
        color: white;
        font-size:45px;
        right: -50px;
        transition:all 0.3s;
        &.active-button-video {
            cursor:pointer;
            pointer-event:all;
            z-index: 500;
            right:15px;
        }

    }
}


.button.login {

    margin-top:25px;
}

.button {
    span{
        font-size: 16px;
        padding: 15px;
    }
}

.button-container.button-video {
    padding-top:125px;
}

.button-patcher {
    background-color: #7fc214;
    color: #FFFFFF;
    display: inline-block;
    transition: all 0.5s;
    padding: 15px;
    cursor: pointer;
}