$mainBlue : #004588;
$mainGreen : #7fc214;
$mainBlack : #111111;
$mainWhite : #FFFFFF;
$mainYellow : #ffff00;
$greenTransparent: rgba(127, 194, 20, 0.5);

$whiteTransparent: rgba(255,255,255, 0.9);
$whiteTransparentBackForm: rgba(255,255,255, 0.5);
$mainBlueTransparent: rgba(0,69, 136, 0.75);
