@font-face {
    font-family: intro;
    src: url("../fonts/intro.otf") format("opentype");
}

@font-face {
    font-family: gotham;
    src: url("../fonts/gotham.ttf") format("truetype");
}

@mixin font-intro() {
    font-family: intro;
}

@mixin font-gotham() {
    font-family: gotham;
}


@mixin font-home-italic {
    font-style: italic;
    font-weight: 900;
    font-size:68px;
    color: $mainBlue;

}

@mixin font-regular-bloc-larger {
    font-style: normal;
    font-weight: 100;
    font-size:22px;
    line-height: 22px;
}

@mixin font-main-title {
    margin-top: 0px;
    font-size:30px;
    color: $mainBlue;
    text-align: center;

}

@mixin font-title {
    margin-top: 0px;
    font-size:40px;
    color:white;
    text-align: center;
}

@mixin font-regular-bloc {
    font-style: normal;
    font-size:20px;
    line-height: 25px;

    font-size: 20px;
    // Responsive
    // Responsive
    @media screen and (max-width: 1300px) {
        line-height: 20px;
        font-size:15px;
    }
    @media screen and (max-width: 600px) {
        font-size:17px;
    }
}

@mixin font-button-main-page  {
    font-style:normal;
    font-size:22px;
    text-transform: uppercase;

}

.error {
    color:red  ;
}

.form-user-input  input.capital{
    text-transform:capitalize;


}