@font-face {
    font-family: intro;
    src: url("../fonts/intro.otf") format("opentype");
}

@font-face {
    font-family: gotham;
    src: url("../fonts/gotham.ttf") format("truetype");
}

@mixin font-intro() {
    font-family: intro;
}

@mixin font-gotham() {
    font-family: gotham;
}

@mixin font-regular-bloc {
    font-style: normal;
    font-weight: 100;
    font-size:22px;
    line-height: 22px;
}


@mixin font-regular-bloc-larger {
    font-style: normal;
    font-weight: 100;
    font-size:22px;
    line-height: 22px;
}
