.bloc {
    @media screen and (max-width: 600px) {
        .content-container {
            width: 100%;
        }
        .bloc-title-center {
            h3  {

                font-size:14px;
            }
        }


    }
    .arrow-container {
        div {
            color: $mainWhite;
            text-transform: uppercase;
            p {
                display:inline-block;

                @media screen and (max-width: 600px) {

                    font-size:10px;
                }
                &.blue {
                    color:$mainBlue;
                }
            }
        }
        position: absolute;
        bottom:5px;
        width: 100%;
        text-align: center;

        .arrow-bottom{
            cursor: pointer;
            width:15px;
            img {
                width:40px;

                @media screen and (max-width: 600px) {
                    width:25px;
                    font-size:px;
                }
            }
        }
    }
}

/*
// Exeption
#bloc-infos {
    .arrow-container {
        top:100%;
    }
}

// Exeption
#bloc-events{
    .arrow-container {
        top: 90%;
    }
}

#bloc-involve-infos {
    .arrow-container {
        position: absolute;
        top: 85%;
        width: 100%;
        text-align: center;

        .arrow-bottom{
            cursor: pointer;
            width:15px;
            img {
                width:80px;
            }
        }
    }
}
*/