.bloc {
    .arrow-container {
        div {
            color: $mainWhite;
            text-transform: uppercase;
            p {
                display:inline-block;
                &.blue {
                    color:$mainBlue;
                }
            }
        }
        position: absolute;
        bottom:5px;
        width: 100%;
        text-align: center;

        .arrow-bottom{
            cursor: pointer;
            width:15px;
            img {
                width:40px;
            }
        }
    }
}

/*
// Exeption
#bloc-infos {
    .arrow-container {
        top:100%;
    }
}

// Exeption
#bloc-events{
    .arrow-container {
        top: 90%;
    }
}

#bloc-involve-infos {
    .arrow-container {
        position: absolute;
        top: 85%;
        width: 100%;
        text-align: center;

        .arrow-bottom{
            cursor: pointer;
            width:15px;
            img {
                width:80px;
            }
        }
    }
}
*/