@import "../core/layout-rules.scss";

header {
    .menu-hambuger {

        @media screen and (max-width: 900px) {
            display: block;
        }
        &.activated-menu-container {

            margin-top:25px;
        }
        display: none;
        position: absolute;
        top: 15px;
        right: 50px;
        z-index: 2500;
        margin-top: 15px;
        span {
            color: $mainBlue;
            display: block;
            height: 5px;
            width: 45px;
            margin-bottom: 10px;
            background-color: $mainBlue;
            transition: all 0.5s;

            &.active-menu {
                background-color: black;
                margin-bottom: 0px;
                &.line-1 {
                    transform: rotate(45deg);
                }
                &.line-2 {
                    transition: all 0.2s;
                    width: 0px;
                    height:0px;
                }
                &.line-3 {
                    margin-top: -4px;
                    transform: rotate(-45deg);
                }
            }
        }
    }
    #menu-container {

        @media screen and (max-width: 900px) {
            position: absolute;
            right: -250%;
            transition: all 0.5s;
            &.display-menu-mobile {
                padding-right: 0px;
                right: 0%;
                width: 100vw;
                height: 100vh;
                background-color: $mainWhite;
                nav {
                    padding-left: 0px;
                    @include centered;
                    width: 100%;
                    ul {
                        padding-left: 0px;
                        li {
                            text-align: center;
                            display: block;
                            border-top: solid 1px $mainBlue;
                        }
                    }
                }
            }
        }

    }

}
