@import "../core/layout-rules.scss";

header {
    .menu-hambuger {

        @media screen and (max-width: 1060px) {
            display: block;
        }
        &.activated-menu-container {
            margin-top: 25px;
        }
        display: none;
        position: absolute;
        top: 15px;
        right: 50px;
        z-index: 2500;
        margin-top: 15px;

        // Mostly iPhone
        @media screen and (max-width: 1060px) {
            top:15px;
            right: 15px;
        }
        span {
            color: $mainBlue;
            display: block;
            height: 5px;
            width: 40px;
            margin-bottom: 7px;
            background-color: $mainBlue;
            transition: all 0.5s;
            // Mostly iPhone
            @media screen and (max-width: 1060px) {
                width:25px;
                height: 3px;
                margin-bottom: 5px;
            }
            // Mostly iPhone
            @media screen and (max-width: 1060px) {

                height: 3px;
                margin-bottom: 5px;
            }

            &.active-menu {
                background-color: $mainBlue;
                margin-bottom: 0px;
                &.line-1 {
                    transform: rotate(45deg);
                }
                &.line-2 {
                    transition: all 0s;
                    display: none;
                    height:0px;
                }
                &.line-3 {
                    margin-top: -3px;
                    transform: rotate(-45deg);
                }

            }
        }
    }
    #menu-container {

        @media screen and (max-width: 1060px) {
            position: absolute;
            right: -500%;
            transition: all 0.7s;
            width: 100vw;
            height: 100vh;
            ul {
                li {
                    display: block;
                    text-align:center;
                }
            }
            &.display-menu-mobile {

                padding-right: 0px;
                right: 0%;
                width: 100vw;
                height: 100vh;
                background-color: $mainWhite;
                nav {
                    padding-left: 0px;
                    @include centered;
                    width: 100%;
                    position: absolute;
                    &.active-menu-mobile {

                    }
                    a,
                    a:link,
                    a:visited {

                        text-decoration:none;
                    }
                }
                .container-connection {
                    margin-left:0px;
                    border:0px;
                }
                ul {
                    padding-left: 0px;
                    li {
                        text-align: center;
                        display: block;
                    }
                }
            }
        }
    }

}


