@import "../general/buttons.scss";
@import "../general/font.scss";
@import "../core/layout-rules.scss";

#bloc-involve {
    background-color: $mainWhite;
    background-size: cover;
    height: 100vh;
    position: relative;

    .content-container {

        h3 {
            display: block;
            @include font-home-italic;
        }

        .button-container {
            text-align: center;
            .button {
                display: block;
                margin: 0 auto;
                margin-bottom: 25px;
                width: 275px;
            }
            .watch-video-involve {
                background-color: $mainBlue;
            }

            .button-video {
                background-color: $mainBlue;
            }
        }
    }
}

#bloc-involve-overlay {
    display: none;
}

#bloc-involve-overlay.active-involving {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 5000;
    .invole-form-container {
        @include centered;
        background-color: $mainBlue;
        color: white;
        margin-top:15px;
        padding: 30px;
        padding-top: 25px;
        padding-bottom: 25px;
        text-align: center;
        width:46%;
        z-index: 500;
        @media screen and (max-width: 900px) {
            width:60%;

        }
        @media screen and (max-width: 680px) {
            width:100%;
        }
        h3 {
            @include font-title;
            margin-top: 25px;
            font-size:24px;
            width:80%;
            text-align: center;
            margin: 0 auto;
            margin-bottom:25px;
            @media screen and (max-width: 1450px) {



            }
            @media screen and (max-width: 950px) {
                font-size: 13px;
            }
        }
        .closing-button {
            position: absolute;
            top: 15px;
            right: 15px;
        }
        .form-item {
            margin-top: 10px;
            margin-left:-95px;
            &.selector-item {
                @media screen and (max-width: 500px) {

                    margin-left: -31px;
                    display: block;
                    width: 118%;
                }

                .label {
                    width: 50%;
                }
            }
            .label {
                color: white;
                display: inline-block;
                width: 150px;
                text-align: right;
                @media screen and (max-width: 950px) {
                    display: inline-block;
                    width: 100%;
                    font-size: 12px;
                    text-align: right;
                    width: 20%;
                }
                @media screen and (max-width: 600px) {
                    display: inline-block;
                    width: 100%;
                    font-size: 12px;
                    text-align: right;
                    width: 30%;
                }
            }
            input {
                height: 25px;
                width: 35%;
                @media screen and (max-width: 1450px) {
                    height: 15px;
                    width: 55%;
                }
                @media screen and (max-width: 600px) {
                    width: 50%;
                }
            }

        }
        .newsletter-choice {
            p {
                display: inline-block;
            }
        }
        // Overide button for color
        .button {
            background-color: $mainGreen;
            &.get-involve {
                margin-top: 25px;
                padding:7px;
            }
        }
    }
}

.involve-form-validation-message {
    display: none;
}

#bloc-involve-infos {

    .line-left {


        @include center-content;
        display: inline-block;
        width: 15%;
        border: solid rgba(255, 255, 255, 0.5) 1px;
        left: 10%;
        @media screen and (max-width: 1450px) {
            width: 10%;
        }

        @media screen and (max-width: 1200px) {

        }
        @media screen and (max-width: 900px) {
            display: none;
        }
        @media screen and (max-height: 1200px) {
            width: 5%;
            left: 8%;
        }
    }

    .line-right {

        @include center-content;
        display: inline-block;
        right: 15px;
        width: 15%;
        left: 90%;
        border: solid rgba(255, 255, 255, 0.5) 1px;
        @media screen and (max-width: 1450px) {
            width: 10%;
        }

        @media screen and (max-height: 1200px) {
            width: 5%;
        }
        @media screen and (max-width: 900px) {
            display: none;
        }
        @media screen and (max-height: 900px) {

            width: 5%;
            margin-left: 2%;
        }
    }

    h3 {
        font-style: italic;
        font-size:40px;
        margin-bottom:2px;
        max-width: 72%;
        margin:0 auto;
        @media screen and (max-width: 1450px) {
            font-size: 25px;
        }


        @media screen and (max-width: 690px) {
            max-width: 100%;
            font-size: 22px;
        }
        @media screen and (max-width: 480px) {
            font-size: 17px;
        }
    }

    background-color: $mainBlue;
    text-align: center;
    height: 100vh;
    position: relative;
    .bloc-bottom {
        height: 200px;
        width: 100%;
        bottom: 0px;
        height: 20%;
        position: absolute;
        @media screen and (max-height: 750px) {
            height: 180px;
        }
        @media screen and (max-height: 720px) {
            height: 170px;
        }
        .become-involve {
            margin-bottom: 75px;
        }
        .main-page-button {
            margin-top: 0px;
            @media screen and (max-width: 480px) {
                margin-top:60px;
            }

        }
    }
    .bloc-container {
        @include center-content;
        @media screen and (max-width: 480px) {


        }

        width: 90%;
    }
    .bloc-bottom {
        position: absolute;
    }

    .text-center-container {
        @include center-content;
        border: solid 1px $whiteTransparent;
        padding: 50px;
        width: 60%;
        @media screen and (max-width: 600px) {
            margin-top:15px;
            margin-bottom:15px;

        }
        @media screen and (max-width: 480px) {
            top:-45px;
        }
        .white-line {
            margin-top:15px;
            margin-bottom:15px;
            display: none;
            @media screen and (max-width: 600px) {
                margin-top:15px;
                margin-bottom:15px;

            }
            display: inline-block;

            height: 2px;
            background-color: white;
            width: 25%;

        }

        @media screen and (max-width: 1200px) {
            width: 65%;
        }
        @media screen and (max-width: 900px) {
            width: 80%;
        }
        @media screen and (max-width: 800px) {
            width: 85%;
        }

        @media screen and (max-width: 700px) {
            width: 90%;
        }

        @media screen and (max-width: 650px) {
            padding:10px;
            width: 95%;
        }

        @include center-content;
        color: white;
        h3 {
        }
        p {
            @include font-title;
        }

        .list-center-infos {
            font-size: 22px;
            text-align: left;


            .by-pass-h3 {
                font-size: 17px;
                font-weight:bold;
            }
            @media screen and (max-width: 1450px) {
                padding-left: 65px;
            }
            @media screen and (max-width: 600px) {
                padding-left: 0px;
            }
            @media screen and (max-width: 480px) {
                font-size:14px;
            }

            ul {

                padding-left: 0;
                list-style: none;
                margin-bottom:0px;
                li {
                    font-size: 22px;
                    font-weight: 100;
                    @media screen and (max-width: 1450px) {
                        font-size: 15px;
                    }
                    @media screen and (max-width: 600px) {
                        font-size: 12px;
                    }
                }
            }
        }
        .button {
            margin-top: 5%;
            padding: 500px;
        }

    }
}

#form-involve {
}
