@import "../general/buttons.scss";
@import "../general/font.scss";
@import "../core/layout-rules.scss";

#bloc-involve {
    background-color: $mainWhite;
    background-size: cover;
    height: 100vh;
    position: relative;

    .content-container {

        h3 {
            display: block;
            @include font-home-italic;

        }

        .button-container {
            text-align: center;
            .button {
                display: block;
                margin: 0 auto;
                margin-bottom: 25px;
                width: 275px;
            }
            .watch-video-involve {
                background-color: $mainBlue;
            }

            .button-video {
                background-color: $mainBlue;

            }
        }
    }
}

#bloc-involve-overlay {
    display: none;
}

#bloc-involve-overlay.active-involving {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.7);
    z-index:5000;
    .invole-form-container {
        @include centered;
        background-color: $mainBlue;
        color: white;
        padding: 30px;
        padding-top: 20px;
        text-align: center;
        width: 75%;
        z-index: 500;
        h3 {
            @include font-title;

            @media screen and (max-width: 1300px) {
                margin-top:0px;
                font-size:29px;

            }
            @media screen and (max-width: 950px) {
                font-size:22px;

            }
        }
        .closing-button {
            position: absolute;
            top: 15px;
            right: 15px;
        }
        .form-item {
            margin-top: 10px;
            &.selector-item {
                .label {
                    width:50%;
                }
            }
            .label {
                color: white;
                display: inline-block;
                width: 150px;


                @media screen and (max-width: 950px) {

                    display: inline-block;
                    width:100%;
                    font-size:12px;
                    text-align: right;
                    width:20%;

                }
                @media screen and (max-width: 600px) {

                    display: inline-block;
                    width:100%;
                    font-size:12px;
                    text-align: right;
                    width:30%;

                }
            }
            input {
                height: 25px;
                width: 35%;
                @media screen and (max-width: 1300px) {
                    height:15px;
                    width:55%;
                }
                @media screen and (max-width: 600px) {
                    width:50%;
                }
            }

        }
        .newsletter-choice {
            p {
                display: inline-block;
            }
        }
        // Overide button for color
        .button {
            background-color: $mainGreen;
            &.get-involve {
                @include font-button-main-page;
                margin-top:15px;
                padding:15px;
            }
        }
    }
}

.involve-form-validation-message {
    display: none;
}

#bloc-involve-infos {

    .line-left {
        @media screen and (max-width: 1350px) {
            display: none;
        }

        @media screen and (max-width: 900px) {
            display: none;
        }

        @include center-content;
        display: inline-block;
        width: 15%;
        border: solid rgba(255, 255, 255, 0.5) 1px;
        left: 10%;
    }

    .line-right {
        @media screen and (max-width: 1350px) {
            display: none;
        }
        @media screen and (max-width: 900px) {
            display: none;
        }
        @include center-content;
        display: inline-block;
        right: 15px;
        width: 15%;
        left: 90%;
        border: solid rgba(255, 255, 255, 0.5) 1px;
    }

    h3 {
        font-style: italic;

        @media screen and (max-width: 950px) {
            font-size: 23px;

        }

        @media screen and (max-width: 690px) {
            font-size:17px;
        }
    }

    background-color: $mainBlue;
    text-align: center;
    height: 100vh;
    position: relative;
    .bloc-bottom {

        height:200px;
        width: 100%;
        bottom: 0px;
        position: absolute;
        @media screen and (max-height: 750px) {
            height: 180px;
        }
        @media screen and (max-height: 720px) {
            height: 170px;
        }
        .become-involve {
            margin-bottom: 75px;
        }
        .main-page-button {
            margin-top:15px;
        }
    }
    .bloc-container {
        @include center-content;
        width: 90%;
    }
    .bloc-bottom {
        position: absolute;
    }

    .text-center-container {
        @include center-content;
        border: solid 1px $whiteTransparent;
        padding: 15px;
        width: 60%;
        .white-line {
            display: inline-block;
            margin-top: 30px;
            margin-bottom: 30px;
            height: 2px;
            background-color: white;
            width: 50%;
        }
        @media screen and (max-width: 1200px) {
            width: 75%;
        }
        @media screen and (max-width: 900px) {
            width: 80%;
        }
        @media screen and (max-width: 800px) {
            width: 85%;
        }

        @media screen and (max-width: 700px) {
            width: 90%;
        }

        @media screen and (max-width: 650px) {
            width: 95%;
        }

        @include center-content;
        color: white;
        h3 {

        }
        p {
            @include font-title;
        }

        .list-center-infos {
            font-size: 20px;
            text-align: left;
            padding-left: 130px;
            @media screen and (max-width: 600px) {
                padding-left:0px;
            }
            ul {
                padding-left: 0;
                list-style: none;
                li {
                    font-size: 20px;
                    font-weight: 100;
                    @media screen and (max-width: 950px) {
                        font-size: 16px;
                    }
                    @media screen and (max-width: 600px) {
                        font-size: 12px;
                    }
                }
            }
        }
        .button {
            margin-top: 5%;
            padding:500px;
        }

    }
}

#form-involve {

}
