@import "../general/font.scss";
@import "../core/layout-rules.scss";

#bloc-infos {

    .line-left {
        @include center-content;
        display: inline-block;
        width: 15%;
        border: solid rgba(255, 255, 255, 0.5) 1px;
        left: 10%;
        @media screen and (max-width: 1450px) {
            width: 10%;
        }

        @media screen and (max-width: 1200px) {

        }
        @media screen and (max-width: 900px) {
            display: none;
        }
        @media screen and (max-height: 1200px) {
            width: 5%;
            left: 8%;
        }

    }

    .line-right {

        @include center-content;
        display: inline-block;
        right: 15px;
        width: 15%;
        left: 90%;
        border: solid rgba(255, 255, 255, 0.5) 1px;
        @media screen and (max-width: 1450px) {
            width: 10%;
        }

        @media screen and (max-height: 1200px) {
            width: 5%;
        }
        @media screen and (max-width: 900px) {
            display: none;
        }
        @media screen and (max-height: 900px) {
            
            width: 5%;
            margin-left: 2%;
        }
    }
    position: relative;
    margin: 0px;
    height: 100vh;
    background-color: $mainBlue;
    color: white;
    overflow: hidden;
    // Mostly 13 inches
    @media screen and (max-width: 1450px) {
    }
    // Center content
    .content-container {
        width: 60%;
        @media screen and (max-height: 900px) {
            width: 75%;
        }
        // Mobile
        @media screen and (max-width: 1450px) {
            width: 65%;
        }
        @media screen and (max-width: 650px) {
            top: 47%;
            width: 95%;
        }
        @media screen and (max-width: 500px) {
            top: 56%;
            width: 95%;
        }
        @include center-content;
        @media screen and (max-width: 1450px) {
            transform: translate(-50%, -60%);
        }

        @media screen and (max-width: 480px) {
            transform: translate(-50%, -65%);
        }
        .line-wrapper {
            padding: 60px;
            border: solid rgba(255, 255, 255, 0.5) 1px;
            @media screen and (max-width: 1700px) {
                padding: 90px;
            }
            @media screen and (max-width: 1650px) {
                padding: 80px;
            }
            @media screen and (max-width: 1600px) {
                padding: 75px;
            }
            @media screen and (max-width: 1550px) {
                padding: 70px;
            }
            @media screen and (max-width: 1500px) {
                padding: 60px;
            }
            @media screen and (max-width: 1450px) {
                padding: 50px;
            }

            @media screen and (max-width: 920px) {
                padding: 25px;
            }
            @media screen and (max-width: 850px) {
                padding: 10px;
            }
        }

        .dual-block-container {
            position: relative;
            .group-right,
            .group-left {
                display: inline-block;
                width: 48%;
                @media screen and (max-width: 500px) {
                    width: 100%;
                    text-align: left;
                }
                @media screen and (max-width: 800px) {
                    width: 90%;
                }

            }

            .group-left {
                h3 {
                    text-align:right;
                }
                p {
                    margin: 0 auto;
                }
                @include font-regular-bloc;
                font-weight: 100;
                text-align: right;
                left: 0px;
                @media screen and (max-width: 800px) {
                    text-align: left;
                }

                .bloc-infos-container {
                    width: 100%;
                    margin-top: 0px;
                    p {
                        line-height: 30px;
                        font-size: 20px;
                        // Mostly mac book
                        @media screen and (max-width: 1450px) {
                            font-size: 15px;
                            line-height: 20px;
                        }

                        @media screen and (max-width: 600px) {
                            font-size: 12px;
                            line-height: 14px;
                        }
                        @media screen and (max-width: 480px) {
                            font-size: 12px;
                            line-height: 14px;
                        }

                    }
                }

            }
            .group-right {

                position: absolute;
                right: 0px;
                text-align: left;
                padding-top: 0px;
                @media screen and (max-width: 800px) {
                    position: relative;
                    width: 100%;

                }
                .bloc-infos-container {
                    margin-top:0px;
                    p {
                        margin-top:0px;
                        line-height:30px;
                        font-weight:100;
                    }
                }
                .bloc-infos-bullet-container {
                    text-align: left;
                    width: 100%;
                    margin-bottom: -50px;
                    margin-top: 10%;
                    margin-left: 0px;

                    li {
                        padding-top: 5px;
                        line-height: 25px;
                    }

                    @media screen and (max-width: 900px) {
                        font-size: 20px;
                    }
                    @media screen and (max-width: 750px) {
                        font-size: 18px;
                    }
                    .bullet-right-container {
                        h3 {
                            text-align: left;
                            // Macbook 13 inches
                            @media screen and (max-width: 1450px) {

                                font-size: 18px;
                                margin-bottom: 5px;

                            }

                            // Macbook 13 inches
                            @media screen and (max-width: 600px) {
                                margin-top: 15px;
                                margin-bottom: 0px;
                                font-size: 14px;
                            }

                            margin-top: 0px;
                        }
                        ul {


                            li {
                                font-size: 20px;
                                line-height: 25px;
                                padding-top:0px;
                                font-weight:100;
                                @media screen and (max-width: 1450px) {
                                    font-size: 15px;
                                    line-height: 16px;
                                }

                                @media screen and (max-width: 600px) {
                                    font-size: 14px;
                                }
                                @media screen and (max-width: 480px) {
                                    font-size:11px;
                                    line-height: 8px;
                                }

                            }
                        }
                        @media screen and (max-width: 750px) {
                            padding-top: 15px;
                            text-align: left;
                        }
                        @media screen and (max-width: 525px) {
                            text-align: left;
                        }

                        // Responsive
                        @media screen and (max-width: 480px) {
                            padding-top: 0px;
                        }
                    }
                }
                .bloc-infos-container {
                    width: 100%;
                }
            }

        }

    }

    // Remove unwanted margin
    .bloc-title-center {

        h3 {
            @include font-title;
            margin-top: 0px;
            margin-bottom: 25px;
            text-align: center;
            line-height:35px;
            font-style: italic;
            line-height: 35px;
            // Responsive
            @media screen and (max-width: 1450px) {
                font-size: 25px;
                max-width: 90%;
                padding-top: 0px;
            }

            // Responsive
            @media screen and (max-width: 600px) {
                font-size: 22px;
                max-width: 100%;
                padding-top: 0px;
                margin-bottom: 7px;
            }

            // Responsive
            @media screen and (max-width: 480px) {
                font-size: 17px;
                max-width: 100%;
                padding-top: 0px;
                margin-bottom: 7px;
            }

        }
        .underline {
            display: none;
            border: solid white 1px;

            margin: 0 auto;
            margin-bottom: 25px;
            width: 25%;

            // Responsive
            @media screen and (max-width: 600px) {
                margin-bottom: 7px;
            }

        }
    }

    .bloc-infos-container {
        @include font-regular-bloc;
        display: block;
        width: 75%;
        margin: 0 auto;
        margin-top: 5%;
        .text-right-container {
            width:100%;
        }
    }

    .bloc-infos-bullet-container {
        @include font-regular-bloc;
        display: block;
        margin: 0 auto;
        margin-top: 10%;
        text-align: right;
        width: 100%;

        // Responsive
        @media screen and (max-width: 675px) {
            width: 95%;
        }

        // Responsive
        @media screen and (max-height: 775px) {
            margin-top: 5px;
            font-size: 20px;
        }
        @media screen and (max-height: 650px) {
            margin-top: 5px;
            font-size: 20px;
        }
        ul {
            padding-left: 0px;
            list-style: none;
        }

    }
    .become-member-container {
        width: 48%;
        display: inline-block;
        text-align: right;
    }
    .bloc-bottom {
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 20%;
        .become-member-container {
            padding-top: 55px;
            text-align: center;
            bottom: 0px;
            width: 100%;
            bottom: 7%;
            @media screen and (max-width: 1450px) {
                padding-top: 0px;
            }
            // Responsive
            @media screen and (max-height: 775px) {
                bottom: 2%;
                font-size: 10px;
            }
            // Responsive
            @media screen and (max-width: 620px) {
                padding-top: 15px;
                margin-top: 50px;
            }

            // Responsive
            @media screen and (max-width: 420px) {
                height: 100px;
                margin-top: 0px;
            }

        }
    }

}
