@import "../general/font.scss";
#bloc-infos {
    position: relative;
    margin:0px;
    height: 40vh;
    background-color: $mainBlueTransparent;
    color: white;
    // Remove unwanted margin
    p {
        @include font-regular-bloc;
        margin-top:0px;
    }

    .bloc-title-center {

        h3 {
            margin-top: 0px;
            padding-top: 45px;
            text-align: center;
        }
    }
    .bloc-infos-container {
        position: absolute;
        display:inline-block;
        width: 400px;
        left: 20%;
        top: 85px;
    }
    .bloc-infos-bullet-container {
        position: absolute;
        display: inline-block;
        width: 250px;
        right: 20%;
        top: 150px;
    }

}
