@import "../core/layout-rules.scss";
@import "../general/font.scss";

#bloc-events {
    background: url("../images/bloc-background/bloc-events-whitey.png") no-repeat center center;
    background-size: cover;
    height: 100vh;
    position: relative;

    .content-container {
        padding-top: 7.5%;
        width: 100%;
        // Responsive
        @media screen and (max-width: 1290px) {
            padding-top: 120px;
        }

    }

    // Responsive
    @media screen and (max-width: 1200px) {
        height: auto;
    }
    .text-center-container {
        width: 90%;
        margin: 0 auto;
        h3 {
            @include font-title;
            font-style: italic;
            color: $mainBlue;
            margin-bottom: 20px;
            // Responsive
            @media screen and (max-width: 1290px) {

                font-size: 25px;
                margin-bottom: 25px;
            }
            @media screen and (max-width: 1050px) {
                font-size: 24px;
                padding-left: 15px;
                padding-right: 15px;
                font-style: italic;
            }

            @media screen and (max-width: 850px) {
                font-size: 24px;
                padding-left: 15px;
                padding-right: 15px;
                font-style: italic;
            }
            // Responsive
            @media screen and (max-width: 600px) {
                font-size: 19px;
                padding-left: 15px;
                padding-right: 15px;
                font-style: italic;
            }
        }
        .line-blue {
            display: block;
            border: solid $mainBlue 1px;
            background-color: $mainBlue;
            margin: 0 auto;
            margin-bottom: 25px;
            width: 15%;
        }
        color: $mainBlue;
    }

    p {
        @include font-regular-bloc;
        margin: 0 auto;
        text-align: center;
        width: 60%;
        
        // Responsive
        @media screen and (max-width: 600px) {
            font-size: 14px;
            padding-left: 15px;
            padding-right: 15px;
        }

    }

    #events-container {
        @include wrap-all-childs;
        @include center-flex-childs;
        display: block;
        margin-top: 80px;
        margin-bottom: 80px;
        color: $mainBlue;
        text-align: center;
        // Responsive
        @media screen and (max-width: 1300px) {
            margin-top: 25px;
        }
        &.blocked-access {

            .single-event-container {
                .over-blocker {
                    display: inline-block;
                    left: 0px;
                    top: 0px;
                    width: 100%;
                    height: 100%;
                    background-color: $whiteTransparent;
                    position: absolute;
                    background-image: url(../images/component/padlock.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-size: 80px;
                    background-position: center;
                }
            }
        }
        .single-event-container {
            display: inline-block;
            background-color: $mainWhite;
            position: relative;
            width: 250px;
            height: 360px;
            text-align: center;
            margin-left: 15px;
            margin-right: 15px;
            margin-bottom: 15px;
            h4 {
                margin-top: 20px;
                margin-bottom: 20px;
                font-size: 25px;
                height: 20px;
            }
            img {
                width: 150px;
                height: 150px;
                margin: 0 auto;
                display: block;
                margin-bottom: 15px;
            }
            .event-price {
                font-size: 17px;
            }
            .event-description {
                font-size: 15px;
                margin-bottom: 5px;
            }
            .button {
                padding: 10px 20px 10px 20px;
                transition: all 0.5s;
                font-size: 20px;
                &:hover {
                    padding: 12px 22px 12px 22px;
                }
            }

            .last {
            }
        }
    }
}
