@import "../core/layout-rules.scss";
@import "../general/font.scss";
#bloc-events {

        .content-container {
            padding-top: 7.5%;

            // Responsive
            @media screen and (max-height: 680px) {
                padding-top: 1%;
            }

        }

        // Responsive
        // Responsive
        @media screen and (max-width: 1200px) {
            height:100%;
        }
        height: 100vh;
        background-color:$whiteTransparent;
        .text-center-container {
            h3 {
                @include font-title;
                color: $mainBlue;
            }
            color: $mainBlue;
        }

        p {
            text-align: center;
            margin:0px;
            font-size: 23px;
        }

        #events-container {
            @include wrap-all-childs;
            @include center-flex-childs;
            display: block;
            margin-top:80px;
            margin-bottom: 80px;
            color:$mainBlue;
            text-align:center;
            .single-event-container {
                display: inline-block;
                background-color:$mainWhite;
                position: relative;
                width: 250px;
                height: 360px;
                text-align:center;
                margin-left:15px;
                margin-right:15px;
                margin-bottom:15px;
                h4 {
                    margin-top: 20px;
                    margin-bottom: 20px;
                    font-size: 25px;
                    height: 20px;

                }
                img {
                    width: 150px;
                    height:150px;
                    margin:0 auto;
                    display: block;
                    margin-bottom:15px;
                }
                .event-price {
                    font-size: 17px;
                }
                .event-description {
                    font-size: 15px;
                    margin-bottom:20px;
                }
                .button {

                    padding:10px 20px 10px 20px;
                    transition:all 0.5s;
                    font-size:20px;
                    &:hover {
                        padding:12px 22px 12px 22px;
                    }
                }

                .last {

                }
            }
        }
}
