@import "../general/font.scss";
@import "../core/layout-rules.scss";
#bloc-infos {

    .line-left {
        @media screen and (max-width: 1350px) {
            display: none;
        }

        @media screen and (max-width: 900px) {
            display: none;
        }

        @include center-content;
        display: inline-block;
        width: 15%;
        height: 3px;
        border: solid rgba(255,255,255,0.5) 1px;
        left:10%;
    }

    .line-right  {
        @media screen and (max-width: 1350px) {
            display: none;
        }
        @media screen and (max-width: 900px) {
            display: none;
        }
        @include center-content;
        display: inline-block;
        right:15px;
        width: 15%;
        left:90%;
        height: 3px;

        border: solid rgba(255,255,255,0.5) 1px;
    }
    position: relative;
    margin:0px;
    height: 100vh;
    background-color: $mainBlue;
    color: white;
    overflow:hidden;
    // Mostly 13 inches
    @media screen and (max-width: 1300px) {
        height:110vh;
    }
    // Center content
    .content-container {

        width:60%;

        // Mobile
        @media screen and (max-width: 1300px) {
            width:60%;
        }
        @media screen and (max-height: 900px) {
            width:60%;
        }

        @media screen and (max-width: 650px) {
            width:100%;
        }

        .line-wrapper {
            padding:60px;
            border: solid rgba(255,255,255,0.5) 1px;
            @media screen and (max-width: 1700px) {
                padding:90px;
            }
            @media screen and (max-width: 1650px) {
                padding:80px;
            }
            @media screen and (max-width: 1600px) {
                padding:75px;
            }
            @media screen and (max-width: 1550px) {
                padding:70px;
            }
            @media screen and (max-width: 1500px) {
                padding:60px;
            }
            @media screen and (max-width: 1300px) {
                padding:50px;
            }

            @media screen and (max-width: 920px) {
                padding:25px;
            }
            @media screen and (max-width: 850px) {
                padding:10px;
            }
        }
        @include center-content;
        .dual-block-container {
            position: relative;
            .group-right,
            .group-left {

                display: inline-block;
                width: 48%;
                @media screen and (max-width: 800px) {
                    width:90%;

                }

            }
            .group-left {
                p {
                    margin:0 auto;
                }
                @include font-regular-bloc;
                font-weight: 100;
                text-align: right;
                left: 0px;
                @media screen and (max-width: 800px) {
                    text-align:left;

                }

                .bloc-infos-container {

                    width:100%;
                    margin-top:0px;
                    p {

                        line-height: 30px;
                        @media screen and (max-height: 800px) {
                            font-size:20px;

                        }
                        @media screen and (max-width: 900px) {
                            font-size:20px;
                        }
                        @media screen and (max-width: 750px) {
                            font-size:18px;
                            line-height: 20px;
                        }

                        // Mostly mac book
                        @media screen and (max-width: 1290px) {
                            font-size: 15px;
                            line-height: 20px;
                        }
                    }
                }

            }
            .group-right {
                position: absolute;
                right: 0px;
                text-align: left;

                @media screen and (max-width: 800px) {
                    position: relative;
                    width:100%;
                    text-align: center;

                }

                .bloc-infos-bullet-container {
                    text-align:left;
                    width: 100%;
                    margin-bottom: -50px;
                    margin-top: 0px;
                    margin-left: 0px;

                    li {
                        padding-top: 5px;
                        line-height: 25px;
                    }
                    @media screen and (max-width: 900px) {
                        font-size:20px;
                    }
                    @media screen and (max-width: 750px) {
                        font-size:18px;
                    }
                    .bullet-right-container {
                        h3 {

                            // Macbook probl
                            @media screen and (max-width: 1290px) {
                                font-size:18px;
                            }

                            margin-top: 0px;
                        }
                        ul {
                            margin-top:0px;
                            li {
                                font-size:15px;
                                line-height:16px;
                            }
                        }
                        @media screen and (max-width: 750px) {
                            text-align:center;
                        }
                    }
                }


            }

        }


    }
    // Remove unwanted margin


    .bloc-title-center {

        h3 {
            @include font-title;
            margin-top: 0px;
            margin-bottom:25px;
            padding-top: 45px;
            text-align: center;
            font-style: italic;

            // Responsive
            @media screen and (max-width: 1290px) {
                font-size: 25px;
                max-width: 90%;
            }

        }
        .underline {
            display: block;
            border:solid white 1px;
            margin:0 auto;
            margin-bottom:25px;
            width: 25%;

        }
    }
    .bloc-infos-container {
        @include font-regular-bloc;

        display: block;
        width: 75%;
        margin:0 auto;
        margin-top:5%;
    }
    .bloc-infos-bullet-container {
        @include font-regular-bloc;
        display: block;
        margin:0 auto;
        margin-top: 10%;
        text-align: center;

        width: 50%;
        // Responsive
        @media screen and (max-width: 675px) {
            width: 95%;

        }

        // Responsive
        @media screen and (max-height: 775px) {
            margin-top:5px;
            font-size: 20px;
        }
        @media screen and (max-height: 650px) {
            display: none;
            margin-top:5px;
            font-size: 20px;
        }
        ul {
            padding-left:0px;
            list-style: none;
        }

    }

    .become-member-container {
        padding-top:55px;
        text-align:center;
        bottom: 0px;
        width: 100%;
        bottom: 7%;

        // Responsive
        @media screen and (max-width: 620px) {
            padding-top: 100px;

        }

        // Responsive
        @media screen and (max-height: 775px) {
            bottom:2%;
            font-size: 10px;
        }
        .button {

        }
    }
}
