// Import related files
@import "../general/font.scss";
@import "../core/layout-rules.scss";
@import "../general/buttons.scss";
#bloc-membership {

    background-color: $whiteTransparent;
    height: 30vh;
    padding-top: 45px;
    .text-center-container {

        text-align: center;
        width: 50%;
        margin:0 auto;
        p {
            @include font-regular-bloc-larger;
            margin:0;
        }

    }
    .become-member-container {
        padding-top: 45px;
        text-align: center;

        /*Please refer to general/button.scss for button related style and behaviour*/
    }
}

// Hidden Form
#bloc-membership-overlay,
#membership-form-validation-message {
    display:none;
    transition: all 1s;

}


#bloc-membership-overlay.active-membership {

    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background-color:rgba(255,255,255,0.7);
    z-index:499;
    .membership-form-container {
        z-index:500;
        padding-top: 20px;
        position: relative;
        background-color:$mainBlue;
        padding: 30px;
        color: white;
        @include centered;
        width: 75%;
        text-align: center;

        h3 {

            @include font-title;
        }
        .form-item {
            margin-top:10px;
            .label {
                color: white;
                display: inline-block;
                width: 150px;
            }
            input {
                height: 25px;
                width: 35%;
            }
        }
        .newsletter-choice {
            p {
                display: inline-block;
            }
        }
        // Overide button for color
        .button {
            background-color:$mainGreen;
        }
    }
}
