@import "../general/buttons.scss";
@import "../general/font.scss";
@import "../core/layout-rules.scss";
#bloc-question {

    background: url("../images/bloc-background/bloc-events-whitey.png") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    position: relative;
    text-align:center;
    .content-container {
        padding-top: 50px;
        background-color: $whiteTransparent;
        width: 50%;
        padding-bottom:50px;
        @include center-content;
    }

    .text-center-container {

            width: 100%;
            // Responsive
            @media screen and (max-width: 1200px) {

                    width: 75%;
            }
            @media screen and (max-width: 900px) {

                    width: 80%;
            }
            @media screen and (max-width: 800px) {

                    width: 85%;
            }

            @media screen and (max-width: 700px) {

                    width: 90%;
            }

            @media screen and (max-width: 650px) {

                    width: 95%;
            }
            p {
                @include font-regular-bloc;
                font-size:30px;
                font-weight: 900;
                line-height: 33px;

                color:$mainBlue;
                width: 80%;
                text-align:center;
                display: block;
                margin:0 auto;
            }

            .list-center-infos {
                ul {
                    padding-left: 0;
                    list-style:none;
                    li {
                        font-size:25px;
                        font-weight: 100;
                        @media screen and (max-width: 1200px) {

                            font-size:20px;
                        }
                    }
                }
            }
            .button {
                margin-top: 5%;
            }
    }
    .line {
        width: 20%;
        display: block;
        height: 2px;
        margin:0 auto;
        background-color:$mainBlue;
        margin-top:30px;
        margin-bottom:30px;
    }
    .question-form-container {



        color: white;
        width: 82%;
        text-align: center;
        form {
            width: 120%;
        }
        h3 {

            @include font-title;
        }
        .label {
            color:$mainBlue;
        }
        .form-item {
            margin-top:25px;
            .label {
                text-align: left;
                font-size:20px;
                font-weight: 900;
                color: $mainBlue;
                display: inline-block;
                width: 150px;
            }
            input {
                height: 25px;
                width: 75%;
            }
        }
        .newsletter-choice {

            margin-top:30px;
        }

        // Overide button for color
        .button {
            margin-top: 75px;
            background-color: $mainBlue;
        }
    }
}

#bloc-involve-overlay {
    display: none;
}

#bloc-involve-overlay.active-involving {

    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background-color:rgba(255,255,255,0.7);

    .invole-form-container {
        @include centered;
        background-color:$mainGreen;
        color: white;

        padding: 30px;
        padding-top: 20px;
        text-align: center;
        width: 75%;
        z-index: 500;
        h3 {

            @include font-title;
        }
        .closing-button {
            position: absolute;
            top:15px;
            right:15px;
        }
        .form-item {
            margin-top:10px;
            .label {
                color: white;
                display: inline-block;
                width: 150px;
            }
            input {
                height: 25px;
                width: 75%;
            }
        }
        .newsletter-choice {
            p {
                display: inline-block;
            }
        }
        // Overide button for color
        .button {
            background-color: $mainBlue;
            &.get-involve {
                @include font-button-main-page;
                margin-top: 25px;
            }
        }
    }
}
