@import "../core/layout-rules.scss";
@import "../core/animation.scss";
@import "../general/font.scss";

#bloc-home {
    background: url("../images/bloc-background/bloc-home-whitey.png") no-repeat center center;
    background-size: cover;
    height: 100vh;
    position: relative;

    #fullScreenDiv {

        width: 100%;
        height: 100%;
        &.kill-display{
            display: none;
        }
        video {
            width: 102%;
            object-fit: cover;
            height: 100%;
        }
        @media screen and (max-width: 1060px) {
            display: none;
        }
    }

/*
    #videoDiv {
        width:100%;
        height:100%;
        transition:all 0.5s;
        margin-top:12px;

        video {
            width:100%;
            height: 101%;
        }
    }
*/
    .content-container {
        @include center-content;
        width: 100%;
        text-align:center;
        @media screen and (max-width: 800px) {
            width: 100%;

        }
        h3 {
            display: block;
            @include font-home-italic;
            background-color: rgba(255, 255, 255, 0.25);
            text-align: center;
            display: inline-block;
            width: 50%;
            padding-top: 75px;
            padding-bottom: 75px;
            font-size:36px;
            @media screen and (max-width: 1390px) {
                font-size:36px;
                padding-left:0px;
                padding-top: 50px;
                padding-bottom: 50px;
            }
            @media screen and (max-width: 800px) {
                width: 100%;

            }
            @media screen and (max-width: 480px) {
                font-size:22px;
            }
        }

        .arrow-container {
            position: absolute;
            top: 130%;
            width: 100%;
            text-align: center;

            .arrow-bottom{
                cursor: pointer;
                width:15px;
                img {
                    width:80px;
                }
            }
        }
        .button-container {

            text-align: center;
            .button-video {
                background-color: $mainBlue;


            }
        }
    }
}
