@import "../general/buttons.scss";
@import "../general/font.scss";
@import "../core/layout-rules.scss";

#bloc-question {
    background: url("../images/bloc-background/qbg.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    position: relative;
    text-align: center;
    .content-container {
        padding-top: 50px;
        background-color: $whiteTransparentBackForm;
        width: 60%;
        padding-bottom: 50px;
        h3 {
            @include font-title;
            color: $mainBlue;
            font-style: italic;
            margin-bottom: 5px;
            @media screen and (max-width: 1450px) {
                font-size: 25px;
            }
            @media screen and (max-width: 800px) {
                font-size: 22px;
            }
        }
        @include center-content;
        @media screen and (max-height: 900px) {
            width: 85%;
        }

        @media screen and (max-width: 650px) {
            width: 100%;
        }
        @media screen and (max-width: 1400px) {
            width: 75%;
        }
        @media screen and (max-width: 1200px) {
            width: 80%;
        }
        @media screen and (max-width: 1000px) {
            width: 85%;
        }
        @media screen and (max-width: 950px) {
            width: 90%;
        }
        @media screen and (max-width: 900px) {
            width: 95%;
        }
        @media screen and (max-width: 820px) {
            width: 100%;
        }
        @media screen and (max-width: 600px) {
            padding-top: 20%;
        }
    }

    .text-center-container {
        width: 100%;

        // Responsive
        @media screen and (max-width: 1450px) {
            margin-top: 50px;
        }
        // Responsive
        @media screen and (max-width: 1000px) {
            width: 100%;
        }

        // Responsive
        @media screen and (max-width: 900px) {
            margin-top: 0px;
        }

        p {
            @include font-regular-bloc;

            @media screen and (max-width: 1450px) {
                font-size: 15px;
                font-weight: 500;
                width:50%;
            }
            @media screen and (max-width: 600px) {
                font-size: 12px;
            }
            font-size: 20px;
            font-weight: 500;
            line-height: 33px;
            color: $mainBlue;
            width: 80%;
            text-align: center;
            display: block;
            margin: 0 auto;
            @media screen and (max-width: 1450px) {
                line-height: 24px;
                font-size: 16px;
            }

            @media screen and (max-width: 700px) {
                line-height: 15px;
            }
        }

        .list-center-infos {
            ul {
                padding-left: 0;
                list-style: none;
                margin-bottom:0px;
                li {
                    font-size: 25px;
                    font-weight: 100;
                    @media screen and (max-width: 1200px) {
                        font-size: 20px;
                    }
                }
            }
        }
        .button {
            margin-top: 5%;
        }
    }
    .line {
        width: 20%;
        display: block;
        height: 2px;
        margin: 0 auto;
        background-color: $mainBlue;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .question-form-container {
        color: white;
        width: 100%;
        text-align: center;
        form {
            width: 100%;
        }
        h3 {
            @include font-title;
        }
        .label {
            color: $mainBlue;
        }
        .form-item {


            margin-top: 25px;
            @media screen and (max-width: 1450px) {
                margin-top: 15px;
                margin-left: -50px;
            }
            @media screen and (max-width: 950px) {
                margin-top: 5px;
                margin-left: -50px;
            }
            @media screen and (max-width: 480px) {
                margin-top: 5px;
                margin-left: -15px;
            }
            &.message {
                display: flex;
                justify-content: center;
                margin-top:25px;
                .label {
                    padding-right:11px;
                    margin-right:7px;
                }
            }

            .label {
                text-align: right;
                padding-right: 15px;
                //font-size: 20px;
                font-weight: 900;
                color: $mainBlue;
                display: inline-block;
                width: 150px;

                @media screen and (max-width: 1450px) {
                    font-size: 14px;
                    display: inline-block;
                }

                @media screen and (max-width: 950px) {
                    display: inline-block;
                }
                @media screen and (max-width: 700px) {
                    width: 70px;
                }
                @media screen and (max-width: 600px) {
                    display: inline-block;
                    font-size: 12px;
                }
            }

            textarea,
            input {
                height: 25px;
                width: 50%;
                border:none;
                &.message-form-object {
                    height: 100px;
                }
                @media screen and (max-width: 1450px) {
                    width: 45%;
                }
                @media screen and (max-width: 800px) {
                    margin-top: 15px;
                    width: 60%;
                }
                @media screen and (max-width: 600px) {
                    display: inline-block;
                    width: 60%;
                    font-size: 12px;
                }
            }
            textarea {

                margin-top:0px;
            }

        }
        .newsletter-choice {
            textarea {
                display: none;
            }
            .label {
                p {
                    font-size: 15px;
                    line-height: 18px;
                    display: inline-block;
                    text-align: left;
                }
                @media screen and (max-width: 1450px) {
                    font-size: 14px;
                    p {
                        display: inline-block;
                        text-align: left;
                    }
                }
                @media screen and (max-width: 600px) {

                    p {
                        display: inline-block;
                        text-align: left;
                    }

                }

            }
            margin-top: 30px;
            input {
                float: left;
                margin-left: 80px;
                margin-top: 13px;
                width: 20px;
                @media screen and (max-width: 600px) {
                    width: 20px;
                    float: left;
                    margin-left: 15px;
                    margin-top: 15px;
                }
            }

        }

        // Overide button for color
        .button {
            margin-top: 75px;
            background-color: $mainBlue;
            @media screen and (max-width: 800px) {
                margin-top: 50px;
            }
        }
    }
}

#bloc-question-overlay {
    display: none;
}

#bloc-question-overlay.active-involving {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.7);

    .invole-form-container {
        @include centered;
        background-color: $mainGreen;
        color: white;
        padding: 30px;
        padding-top: 20px;
        text-align: center;
        width: 75%;
        z-index: 500;
        h3 {
            margin-top:15px;
            @media screen and (max-width: 1000px) {
                font-size: 30px;
            }
            @media screen and (max-width: 600px) {
                font-size: 20px;
            }
        }
        .closing-button {
            position: absolute;
            top: 15px;
            right: 15px;
        }
        .form-item {
            margin-top: 10px;

            .label {
                color: white;
                display: inline-block;
                width: 150px;
            }
            input {
                height: 25px;
                width: 75%;
            }

        }
        .newsletter-choice {
            display: none;
            p {
                display: inline-block;
            }
        }
        // Overide button for color
        .button {
            background-color: $mainBlue;
            &.get-involve {


            }
        }
    }
}
