// Import related files
@import "../general/font.scss";
@import "../core/layout-rules.scss";
@import "../general/buttons.scss";
#bloc-membership {

    background-color: $whiteTransparent;
    height: 30vh;
    padding-top: 45px;
    .text-center-container {

        text-align: center;
        width: 50%;
        margin:0 auto;
        p {
            @include font-regular-bloc-larger;
            margin:0;
        }

    }
    .become-member-container {
        padding-top: 45px;
        text-align: center;

        /*Please refer to general/button.scss for button related style and behaviour*/
    }
}

// Hidden Form
#bloc-membership-overlay,
#membership-form-validation-message {
    display:none;
    transition: all 1s;

}


#bloc-membership-overlay.active-membership {

    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background-color:rgba(255,255,255,0.7);
    z-index:499;
    .membership-form-container {
        @include center-content;
        z-index:500;
        padding-top: 20px;
        position: relative;
        background-color:$mainBlue;
        padding: 30px;
        color: white;
        @include centered;
        width: 75%;
        height: 60%;
        text-align: center;

        @media screen and (max-width: 600px) {
            width:95%;
            height:85%;

        }
        h3 {

            @include font-title;
            margin-top: 40px;
            @media screen and (max-width: 950px) {
                font-size:22px;

            }
        }
        .form-item {
            margin-top:10px;
            .label {
                color: white;
                display: inline-block;
                width: 150px;

                @media screen and (max-width: 950px) {

                    display: block;
                    width:100%;
                    text-align: center;

                }

                @media screen and (max-width: 950px) {

                    display: inline-block;
                    width:100%;
                    font-size:12px;
                    text-align: center;
                    width:20%;

                }

            }
            input {
                height: 25px;
                width: 35%;
                @media screen and (max-width: 950px) {


                    width:55%;


                }
            }
        }
        .password-message-container {
            @media screen and (max-width: 650px) {
                display: block;
                width:100%;
                font-size:12px;
                text-align: center;
                

            }
        }
        .newsletter-choice {
            input {
                display:inline-block;
                width:1%;
            }
            p {
                display: inline-block;
            }
        }
        // Overide button for color
        .button {
            background-color:$mainGreen;
        }
    }
}
