// Import related files
@import "../general/font.scss";
@import "../core/layout-rules.scss";
@import "../general/buttons.scss";
#bloc-membership {

    background-color: $whiteTransparent;
    height: 30vh;
    padding-top: 45px;
    .text-center-container {

        text-align: center;
        width: 50%;
        margin:0 auto;
        p {
            @include font-regular-bloc-larger;
            margin:0;
        }

    }
    .become-member-container {
        padding-top: 45px;
        text-align: center;

        /*Please refer to general/button.scss for button related style and behaviour*/
    }
}

// Hidden Form
#bloc-membership-overlay,
#membership-form-validation-message {
    display:none;
    transition: all 1s;

}


#bloc-membership-overlay.active-membership {

    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background-color:rgba(255,255,255,0.7);
    z-index:499;

    .membership-form-container {
        @include center-content;
        z-index:500;
        padding-top: 20px;
        padding-bottom: 20px;
        position: relative;
        background-color:$mainBlue;
        padding: 30px;
        color: white;
        @include centered;
        width: 50%;

        text-align: center;

        @media screen and (max-width: 600px) {
            width:95%;
            height:54%;
            min-width: 320px;
            max-height:280px;
            margin-top:25px;
        }
        @media screen and (max-width: 480px) {
            width:95%;
            height:75%;
            min-width: 320px;
            max-height:280px;
        }
        h3 {

            @include font-title;
            font-size:24px;
            margin-top:0px;
            @media screen and (max-width: 1390px) {
                margin-top:0px;


            }
            @media screen and (max-width: 950px) {
                font-size:22px;

            }
        }
        .form-item {
            margin-top:10px;
            margin-left:-100px;
            @media screen and (max-width: 600px) {


            }
            .label {
                color: white;
                display: inline-block;
                width: 150px;
                text-align:right;
                @media screen and (max-width: 950px) {

                    display: inline-block;
                    width:100%;
                    font-size:12px;
                    text-align: right;
                    width:20%;

                }
                @media screen and (max-width: 600px) {

                    display: inline-block;
                    width:100%;
                    font-size:12px;
                    text-align: right;
                    width:30%;

                }

            }
            input {
                height: 25px;
                width: 35%;
                @media screen and (max-width: 1390px) {
                    height:15px;
                    width:55%;
                }
                @media screen and (max-width: 600px) {
                    width:50%;
                }
            }
        }
        .password-message-container {
            display: block;
            @media screen and (max-width: 650px) {
                display: block;
                width:100%;
                font-size:12px;
                text-align: center;
            }
        }
        .newsletter-choice {
            .wrapper-item-news {
                text-align: left;
                display: inline-block;

                width:100%;
                font-size:12px;
                @media screen and (max-width: 900px) {
                    font-size:10px;
                }
                p{

                }
                @media screen and (max-width: 600px) {
                    width:80%;
                }
            }
            input {
                display:inline-block;
                width:2%;

            }
            p {
                width:100%;
                display: inline-block;
                text-align:center;
                @media screen and (max-width: 950px) {

                }
            }
        }
        // Overide button for color
        .button {
            background-color:$mainGreen;
        }
    }
}
