@import "../general/font.scss";
#bloc-infos {
    position: relative;
    margin:0px;
    height: 100vh;
    background-color: $mainBlue;
    color: white;
    overflow:hidden;
    // Remove unwanted margin
    p {
        @include font-regular-bloc;
        margin-top:0px;
    }

    .bloc-title-center {

        h3 {
            @include font-title;
            margin-top: 0px;
            margin-bottom:25px;
            padding-top: 45px;
            text-align: center;
        }
        .underline {
            display: block;
            border:solid white 2px;
            margin:0 auto;
            margin-bottom:25px;
            width: 20%;

        }
    }
    .bloc-infos-container {
        @include font-regular-bloc;

        display: block;
        width: 75%;
        margin:0 auto;
        margin-top:5%;
    }
    .bloc-infos-bullet-container {
        @include font-regular-bloc;
        display: block;
        margin:0 auto;
        margin-top: 10%;
        text-align: center;

        width: 50%;
        // Responsive
        @media screen and (max-width: 675px) {
            width: 95%;
        }

        // Responsive
        @media screen and (max-height: 775px) {
            margin-top:5px;
            font-size: 20px;
        }
        @media screen and (max-height: 650px) {
            display: none;
            margin-top:5px;
            font-size: 20px;
        }
        ul {
            padding-left:0px;
            list-style: none;
        }

    }

    .become-member-container {
        position: absolute;
        text-align:center;
        bottom: 0px;
        width: 100%;
        bottom: 7%;
        // Responsive
        @media screen and (max-width: 620px) {
            padding-top: 100px;

        }

        // Responsive
        @media screen and (max-height: 775px) {
            bottom:2%;
            font-size: 10px;
        }
        .button {

        }
    }
}
