

    // Hidden Form
    #bloc-login-overlay{
        display:none;
        transition: all 1s;

    }


    #bloc-login-overlay.active-login {

        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        background-color:rgba(255,255,255,0.7);

        .login-form-container {
            z-index:500;
            padding-top: 20px;
            position: relative;
            background-color:$mainGreen;
            padding: 30px;
            color: white;
            @include centered;
            width: 75%;
            text-align: center;
            h3 {

                @include font-title;
            }
            .form-item {
                margin-top:10px;
                .label {
                    color: white;
                    display: inline-block;
                    width: 150px;
                }
                input {
                    height: 25px;
                    width: 40%;
                }
            }
            // Overide button for color
            .button {
                background-color: $mainBlue;
            }
            .become-member {
                margin-top:10px;
                cursor:pointer;
            }
        }
    }
