header {
    position: fixed;
    top: 0px;
    height:100px;
    z-index: 200;
    width: 100%;
    background-color: $mainWhite;
    .logo-container {

        @media screen and (max-width: 1175px) {
            display: none;
        }
        display: inline-block;
        position:absolute;
        padding-left:25px;
        padding-top:10px;
        /* Video starts at 10*/
        z-index: 11;
        img {
            height:75px;
        }
    }

    #menu-container {

        text-align: right;
        padding-right: 30px;
        padding-top:10px;
        z-index:1000;
        @media screen and (max-width: 1175px) {
            text-align:center;
        }
        nav {
            color:$mainBlue;
            text-transform: uppercase;
            ul {
                list-style: none;
                li{

                    display: inline-block;
                    transition:all 0.5s;
                    padding:15px;
                    cursor: pointer;

                    &.active-menu-user {
                        display: none;
                    }
                    &:hover {
                        background-color: $mainWhite;
                    }

                    &.menu-membership {

                        background-color: $mainGreen;
                        color:$mainWhite;

                    }
                }

                .connection {
                    display:inline-block;
                    margin-left:40px;
                    h3,p {

                        margin:0px;
                    }
                    h3 {
                        padding-top:15px;
                    }
                }
            }
        }
    }
}
