// including core scss
@import 'core/layout-rules.scss';
@import 'core/animate.scss';
@import 'core/typo-responsive.scss';
@import 'core/general.scss';

// Including general scss
@import 'general/colors.scss';
@import 'general/font.scss';
@import 'general/buttons.scss';
@import 'general/behave.scss';
@import 'general/menu-behaviour.scss';
@import 'general/generic-bloc.scss';
// Including site parts
@import 'site-parts/general.scss';
@import 'site-parts/header.scss';
@import 'site-parts/bloc-video.scss';
@import 'site-parts/bloc-infos.scss';
@import 'site-parts/bloc-membership.scss';
@import 'site-parts/bloc-question.scss';
@import 'site-parts/bloc-events.scss';
@import 'site-parts/bloc-involve.scss';
@import 'site-parts/bloc-home.scss';
@import 'site-parts/footer.scss';
@import 'site-parts/blog-login.scss';


// Mobile
@import "general/mobile.scss";


@import "emergency.scss";

