/*Plase use carefully*/
body  {

    a:link {
        color: $mainBlue;
    }

    a:visited {
        color: $mainBlue;
    }


    a:hover {
        color: $mainBlue;
    }


    a:active {
        color: $mainBlue;
    }
}

#bloc-involve-infos .text-center-container .white-line {
    margin-top:30px;
    margin-bottom:30px;
}

