body  {

    a:link {
        color: $mainBlue;
    }

    a:visited {
        color: $mainBlue;
    }


    a:hover {
        color: $mainBlue;
    }


    a:active {
        color: $mainBlue;
    }
}