/*Plase use carefully*/
body {

    a:link {
        color: $mainBlue;
    }

    a:visited {
        color: $mainBlue;
    }

    a:hover {
        color: $mainBlue;
    }

    a:active {
        color: $mainBlue;
    }
}

#bloc-involve-infos .text-center-container .white-line {
    margin-top: 15px;
    margin-bottom: 15px;

    @media screen and (max-width: 600px) {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

#bloc-infos .content-container .dual-block-container .group-left .bloc-infos-container .text-right-container p {
    @media screen and (max-width: 1060px) {
        width: 70%;
        margin-top: 0px;
    }

}

#bloc-infos .content-container .dual-block-container .group-right .bloc-infos-bullet-container .bullet-right-container ul {
    @media screen and (max-width: 1060px) {
        text-align: center;
    }
}

#bloc-infos .content-container .dual-block-container .group-left h3 {
    @media screen and (max-width: 1060px) {
        margin-top: 15px;
        margin-bottom: 0px;
        font-size: 14px;
    }

}

#bloc-infos .bloc-infos-bullet-container .bullet-right-container li {
    @media screen and (max-width: 720px) {
        font-size: 12px;
    }

}

#bloc-infos .content-container .dual-block-container .group-right .bloc-infos-container .text-right-container p {
    @media screen and (max-width: 720px) {
        width: 70%;
        font-size: 12px;
    }
}

#bloc-infos .content-container .dual-block-container .group-left .bloc-infos-container .text-right-container p {
    @media screen and (max-width: 720px) {
        font-size: 12px;
    }

}

#bloc-infos .content-container .dual-block-container .group-right .bloc-infos-bullet-container .bullet-right-container h3 {
    @media screen and (max-width: 720px) {
        margin-top: 15px;
        margin-bottom: 0px;
        font-size: 14px;
    }
}

#bloc-infos .content-container .dual-block-container .group-right .bloc-infos-bullet-container .bullet-right-container ul li {
    @media screen and (max-width: 720px) {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 12px;
    }
}

#bloc-events .text-center-container p {
    font-weight: 600;
}

#bloc-infos .content-container .dual-block-container .group-right .bloc-infos-bullet-container .bullet-right-container ul li {
    @media screen and (max-width: 720px) {
        font-size: 12px;
        line-height: 20px;
    }

}

#bloc-infos .content-container .dual-block-container .group-right .bloc-infos-container .text-right-container p {
    @media screen and (max-width: 500px) {

        line-height: 15px;
    }
}
#block #bloc-infos {

}

#bloc-question {
    @media screen and (max-width: 1300px) {
        height:120vh;
    }
}

#bloc-infos {



    @media screen and (max-width: 1300px) {

        height:120vh;

    }
    @media screen and (max-width: 790px) {

        height:175vh;
    }
    @media screen and (max-width: 500px) {
        height:250vw;
    }
}

#bloc-infos .content-container .dual-block-container .group-right {
    @media screen and (max-width: 1060px) {
        margin-left:0px;
    }
}

#bloc-question .text-center-container p {
    @media screen and (max-width: 600px) {
        font-size: 12px;
        line-height: 14px;
    }

}


#bloc-question .content-container h3 {
    @media screen and (max-width: 600px) {
        font-size: 19px;
        padding-left: 15px;
        padding-right: 15px;
        font-style: italic;
    }

}


